.all-spots {
    padding: 11px;
}

.preview-image {
    width: 230px;
    height: 200px;
    border-radius: 10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 10rem;
    background-color: #CCCCCC;
    opacity: 0.8;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.preview-image {
    cursor: pointer;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.price>span {
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.delete-spot-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.delete-spot-modal-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
}

.delete-spot-modal-button>button {
    padding: 5px 5px;
    margin: 5px 0px;
    box-shadow: 1px 2px 2px;
}

.update-delete-button {
    display: flex;
    gap: 5px;
}

.update-delete-button>button {
    background: transparent;
    cursor: pointer;
    background-color: rgb(255, 87, 87);
    border: 1px solid rgb(199, 192, 192);
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    transition: all 0.3 ease 0s;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: white;
}

.update-delete-button>button:hover {
    box-shadow: 1px 1px 2px grey;
}
