.current-user-spot {
    display: flex;
    flex-flow: row wrap;
    max-width: 1020px;
}

.manage-spot-header {
    padding: 10px;
}


.create-new-spot-manage-button {
    background: transparent;
    cursor: pointer;
    background-color: rgb(255, 87, 87);
    border: 1px solid rgb(199, 192, 192);
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    transition: all 0.3 ease 0s;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: white;
}

.create-new-spot-manage-button:hover {
    box-shadow: 1px 1px 2px grey;
}
