.create-review-modal {
    padding-top: 30px;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 300px;
}

.create-review-modal>h2 {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.submit-review-button-modal {
    color: white;
    background-color: #ff5A5F;
    width: 150px;
    margin-top: 10px;
    padding: 0 0 3px 3px;
    height: 21px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
}

.submit-review-button-modal:hover {
    box-shadow: 3px 3px 3px grey;
    transition: ease-in .15s;
}

.submit-review-button-modal:disabled {
    background-color: white;
    color: lightgray;
}

.review-modal-text {
    resize: none;
    padding: 5px;
    width: 100%;
    /* height: 100px; */
    background-color: rgb(246, 241, 241);
}

.empty {
    color: rgb(253, 202, 210);
}

.filled {
    color: #ff5A5F;
}

.star-rating-input {
    display: flex;
}

.medium-big-star {
    margin-top: 10px;
    font-size: 30px;
}
