.form-container {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.create-spot-form-page {
    display: flex;
    flex-flow: column wrap;
    width: 400px;
    padding: 0px 20px;
    border: 1px solid black;
    align-items: center;
    background-color: rgb(246, 244, 244);
}


.description-form-box {
    margin: 7px 0px;

}

.spot-title {
    width: 100%;
}


.image-inputs {
    display: flex;
    flex-flow: column;
    margin: 4px;
    padding: 6px 0px
}

.image-inputs>input {
    margin: 8px;
}

.submit-spot-form-button {
    margin: 10px 0px;
    padding: 4px 10px;
    width: fit-content;
    align-items: center;
}
