* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.top-navbar {
    text-decoration: none;
    color: red;
}

.top-logo-name {
    text-decoration: none;
    color: rgb(255, 63, 34);
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(205, 204, 204);
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 20;
}

.topright-nav {
    display: flex;
    align-items: center;
}

.topright-nav-create-text {
    text-decoration: none;
    padding-right: 10px;
    cursor: pointer;
}


.topright-nav-create-text>button {
    background: transparent;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 21px;
    padding: 5px 5px 5px 5px;
    transition: all 0.3 ease 0s;
    display: flex;
    align-items: center;
}

.topright-nav-create-text>button:hover {
    box-shadow: 1px 1px 2px grey;
}

.logo {
    font-size: xx-large;
}

.logo-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}


.profile-button-container {
    position: relative;
    background: transparent;
}

.profile-button-icon {
    background: transparent;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 21px;
    padding: 5px 5px 5px 10px;
    transition: all 0.3 ease 0s;
    display: flex;
    align-items: center;
}

.profile-button-icon:hover {
    box-shadow: 1px 1px 2px grey;
}

.fa-user-circle {
    padding-left: 10px;
    font-size: xx-large;
}

.fa-bars {
    font-size: large;
}

.open-modal-menu {
    position: absolute;
    right: 5rem;
    padding: 1rem 3rem 1rem;
}

#modal-content {
    border-radius: 15px;
    padding: 20px;
    width: 30em;
}
