:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.top-navbar {
    text-decoration: none;
    color: red;
}

.top-logo-name {
    text-decoration: none;
    color: rgb(255, 63, 34);
    font-family: Arial, Helvetica, sans-serif;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(205, 204, 204);
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 20;
}

.topright-nav {
    display: flex;
    align-items: center;
}

.topright-nav-create-text {
    text-decoration: none;
    padding-right: 10px;
    cursor: pointer;
}


.topright-nav-create-text>button {
    background: transparent;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 21px;
    padding: 5px 5px 5px 5px;
    transition: all 0.3 ease 0s;
    display: flex;
    align-items: center;
}

.topright-nav-create-text>button:hover {
    box-shadow: 1px 1px 2px grey;
}

.logo {
    font-size: xx-large;
}

.logo-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}


.profile-button-container {
    position: relative;
    background: transparent;
}

.user-menu {
    position: absolute;
    top: 54px;
    right: 0px;
    width: 160px;
    transform: translateX(-15%);
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    box-shadow: 1px 1px 2px grey;
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.user-menu-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
    font-size: 90%;
    text-align: center;
}

.manage-spots-button {
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 2px;
    padding: 5px 5px 5px 10px;
    width: 100%;
}

.manage-spots-button:hover {
    box-shadow: 1px 1px 2px grey;
    background-color: rgb(244, 244, 244);
}

.manage-reviews-button {
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 2px;
    padding: 5px 12px;
}

.manage-reviews-button:hover {
    box-shadow: 1px 1px 2px grey;
    background-color: rgb(244, 244, 244);
}

.profile-button-icon {
    background: transparent;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 21px;
    padding: 5px 5px 5px 10px;
    transition: all 0.3 ease 0s;
    display: flex;
    align-items: center;
}

.profile-button-icon:hover {
    box-shadow: 1px 1px 2px grey;
}

.fa-user-circle {
    padding-left: 10px;
    font-size: xx-large;
}

.fa-bars {
    font-size: large;
}

.open-modal-menu {
    position: absolute;
    right: 5rem;
    padding: 1rem 3rem 1rem;
}

#modal-content {
    border-radius: 15px;
    padding: 20px;
    width: 30em;
}

.open-modal-menu {
    position: absolute;
    top: 54px;
    right: 0px;
    width: 160px;
    transform: translateX(-15%);
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    box-shadow: 1px 1px 2px grey;
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.open-modal-menu>li {
    cursor: pointer;
    list-style-type: none;
    background: transparent;
    cursor: pointer;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 2px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    text-align: center;
    margin: 3px 0px;
}

.open-modal-menu>li:hover {
    background-color: rgb(244, 244, 244);
    box-shadow: 1px 1px 2px grey;
}

button {
    cursor: pointer;
}

.log-out-button {
    background-color: white;
    border: 1px solid rgb(199, 192, 192);
    border-radius: 2px;
    padding: 5px 38px;
    width: 100%;
    text-align: center;
}

.log-out-button:hover {
    box-shadow: 1px 1px 2px grey;
    background-color: rgb(244, 244, 244);
}
