.error-text {
    color: red
}

.normal-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.login-credential {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(218, 240, 247);
    border: none;
    padding: 3px 0px;
}



.login-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(218, 240, 247);
    border: none;
    padding: 3px 0px;
}


.login-button {
    background: transparent;
    cursor: pointer;
    background-color: rgb(255, 87, 87);
    border: 1px solid rgb(199, 192, 192);
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    transition: all 0.3 ease 0s;
    margin-top: 0.5rem;
    color: white;
}

.login-button:hover {
    box-shadow: 1px 1px 2px grey;
}

.login-button:disabled {
    background-color: white;
    color: lightgray;
}

.normal-demo-button {
    border: none;
    background-color: white;
    color: rgb(37, 154, 193);
    text-decoration: underline;
    padding-top: 10px;
}

.normal-demo-button:hover {
    text-shadow: 1px 1px 1px rgb(96, 177, 204);
    color: rgb(100, 188, 217);
}

.normal-login>h1 {
    text-align: center;
}

.normal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
